select {
    appearance: none; /* Menghilangkan ikon pada browser modern */
    -webkit-appearance: none; /* Untuk Safari dan Chrome */
    -moz-appearance: none; /* Untuk Firefox */
    background: none; /* Hapus background default */
    border: 1px solid #ccc; /* Sesuaikan padding sesuai kebutuhan */
}

select::-ms-expand {
    display: none; /* Menghilangkan ikon dropdown pada IE */
}
